name: On each push

on: push

jobs:
  composer:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Install WordPress
        uses: php-actions/composer@v5
        with:
          dev: no
          quiet: yes
          version: 2
          php_version: 7.3
      - name: Install dependencies
        uses: php-actions/composer@v5
        with:
          dev: no
          quiet: yes
          version: 2
          php_version: 7.3

  test:
    name: Test php compatible version
    needs: composer
    runs-on: ubuntu-latest
    strategy:
      matrix:
        php_version: [ 7.0, 7.1, 7.2, 7.3, 7.4 ]
    steps:
      - uses: actions/checkout@v2
      - name: Install WordPress
        uses: php-actions/composer@v5
        with:
          dev: no
          quiet: yes
          version: 2
          php_version: ${{ matrix.php_version }}
      - name: Install dependencies
        uses: php-actions/composer@v5
        with:
          dev: no
          quiet: yes
          version: 2
          php_version: ${{ matrix.php_version }}
      - name: Setup PHP ${{ matrix.php_version }}
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php_version }}
      - name: Check PHP syntax
        run: |
          cd ./wordpress
          find . -type f -name '*.php' -exec php -l {} \; | (! grep -v "No syntax errors detected" )
