name: On each push

on: push

jobs:
  composer:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Install dependencies
        run: composer install --dev --prefer-dist --no-progress --no-suggest
      - name: Install dependencies
        run: composer install --dev --prefer-dist --no-progress --no-suggest
      - name: Archive
        uses: actions/upload-artifact@v2
        with:
          name: wordpress
          path: wordpress
          retention-days: 5

  test:
    name: Test php compatible version
    runs-on: ubuntu-latest
    container:
      image: php:7.3-fpm
    steps:
      - name: Download setup
        uses: actions/download-artifact@v2
        with:
          name: wordpress
      - name: Linting
        shell: bash
        run: |
          cd wordpress
          find . -type f -name '*.php' -exec php -l {} \; | (! grep -v "No syntax errors detected" )
