name: On each push

on: push

jobs:
  composer:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Install WordPress
        uses: php-actions/composer@v5
        with:
          dev: no
          quiet: yes
          version: 2
          php_version: 7.3
      - name: Install dependencies
        uses: php-actions/composer@v5
        with:
          dev: no
          quiet: yes
          version: 2
          php_version: 7.3

  test:
    name: Test php compatible version
    needs: composer
    runs-on: ubuntu-latest
    continue-on-error: true
    strategy:
      matrix:
        php_version: [ 7.0, 7.1, 7.2, 7.3, 7.4 ]
    steps:
      - uses: actions/checkout@v2
      - name: Install WordPress
        uses: php-actions/composer@v5
        with:
          dev: no
          quiet: yes
          version: 2
          php_version: ${{ matrix.php_version }}
      - name: Install dependencies
        uses: php-actions/composer@v5
        with:
          dev: no
          quiet: yes
          version: 2
          php_version: ${{ matrix.php_version }}
      - name: Setup PHP ${{ matrix.php_version }}
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php_version }}
      - name: Check PHP syntax
        run: |
          cd ./wordpress
          find . -type f -name '*.php' -exec php -l {} \; | (! grep -v "No syntax errors detected" )

  deploy:
    name: Deploy
    needs: test
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/master'
    environment:
      name: composer-wp.trusty.codes
      url: https://composer-wp.trusty.codes
    steps:
      - uses: actions/checkout@v2
      - name: Install WordPress
        uses: php-actions/composer@v5
        with:
          dev: no
          quiet: yes
          version: 2
          php_version: 7.3
      - name: Install dependencies
        uses: php-actions/composer@v5
        with:
          dev: no
          quiet: yes
          version: 2
          php_version: 7.3
      - name: Install zip
        uses: montudor/action-zip@v0.1.0
      - name: Zip files
        working-directory: wordpress
        run: zip -qq -r ../wordpress.zip ./
      - name: Upload zip
        uses: bayssmekanique/action-simple-file-upload@v1
        with:
          user: ${{ secrets.FTPUSER }}
          password: ${{ secrets.FTPPASSWORD }}
          host: ${{ secrets.FTPHOST }}
          src: wordpress.zip
          dest: wordpress.zip
      - name: Upload migrator
        uses: bayssmekanique/action-simple-file-upload@v1
        with:
          user: ${{ secrets.FTPUSER }}
          password: ${{ secrets.FTPPASSWORD }}
          host: ${{ secrets.FTPHOST }}
          src: migrate.php
          dest: migrate.php
      - name: Migrate files
        uses: wei/curl@v1
        with:
          args: "https://composer-wp.trusty.codes/migrate.php"
      - name: Migrate database
        uses: wei/curl@v1
        with:
          args: "https://composer-wp.trusty.codes/wp-admin/upgrade.php?step=upgrade_db"
