name: Update

on:
  push:
  workflow_dispatch:
  schedule:
    - cron: 0 5 * * 1

jobs:
  composer:
    name: Update
    if: github.ref == 'refs/heads/check-for-updates'
    runs-on: ubuntu-latest
    env:
      php_version: 7.3
    steps:
      - uses: actions/checkout@v2
      - name: Install WordPress
        uses: php-actions/composer@v5
        with:
          dev: no
          quiet: yes
          version: 2
          php_version: ${{ env.php_version }}
      - name: Install dependencies
        uses: php-actions/composer@v5
        with:
          dev: no
          quiet: yes
          version: 2
          php_version: ${{ env.php_version }}
      - name: Setup PHP ${{ env.php_version }}
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ env.php_version }}
      - name: Check for updates
        id: update
        shell: bash
        run: |
          changes=$(composer outdated)

          # Exit if nothing changed
          [[ -z $changes ]] && exit 0 || true

          echo $changes
          echo ::set-output name=message::$changes
      - name: Update
        if: steps.update.outputs.message
        run: |
          composer update
          composer update
      - name: Push update
        if: steps.update.outputs.message
        shell: bash
        run: |
          git config --global user.email "$GITHUB_ACTOR@users.noreply.github.com"
          git config --global user.name "$GITHUB_ACTOR"

          git branch -D updates || true
          git branch updates

          git commit -m "composer update\n\n${{ steps.changes.outputs.message }}"
          # git push --set-upstream origin updates
